<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container" id="content-footer" style="padding-bottom: 10px">
        <div id="footer-imag" style="float: left">
            <img class="media-object" src="" alt="...">
        </div>
        <div id="footer-text" style="float: right; margin-left: 10px; margin-top: 10px">SISTEMA PARA LA GESTION DE LOS ACUERDOS EN EL GRUPO CUBANACAN</div>
    </div>
</nav>