<div class="count form-group has-feedback">
    {#<label class="control-label" for="inputSuccess2">Input with success</label>#}
    <input type="text" class="form-control" id="input-search-form" aria-describedby="inputSuccess2Status" value="" placeholder="Buscar...">
    <a href="javascript:void(0)" onclick="searchAjax( document.getElementById('input-search-form').value )"><span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span></a>
    <span id="inputSuccess2Status" class="sr-only">(success)</span>
</div>


