@font-face {
    font-family: Ubuntu-Regular;
    src: url('fonts/Ubuntu-R.ttf');
}

body{
    /*font-family: Ubuntu-Regular;*/
    background-color: #fdfdfd;
    min-height: 400px;

}

#content{
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#content-report{
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#content-footer{
    text-align: center;
    margin-top: 10px;
}

.glyphicon{
    margin-right: 5px;
}

.caret{
    margin-left: 5px;
}

.panel-title{
    font-weight: bold;
    font-size: 19px;
}

.panel{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}


label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    max-width: 100%;
    color: #646464;
}


input[type="text"],[type="date"], [type="email"], [type="url"], [type="number"], [type="password"], textarea, select {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    /*font-size: 12px;*/
    line-height: 1.42857;
    padding: 5px 10px;
    transition: border-color 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
    -moz-transition: border-color 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
    -o-transition: border-color 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
    -webkit-transition: border-color 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
    width: 100%;
    margin-bottom: 8px;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="url"]:focus, [type="number"]:focus, [type="password"]:focus, textarea:focus, select:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

input[type="text"]:focus:invalid, input[type="email"]:focus:invalid, input[type="date"]:focus:invalid, input[type="url"]:focus:invalid, input[type="number"]:focus:invalid, [type="password"]:focus:invalid, textarea:focus:invalid, select:focus:invalid {
    border-color: #e91815;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(233, 24, 21, 0.60);
    outline: 0 none;
}

.form-actions{
    margin-top: 30px;
    /*margin-left: 135px;*/
}

/*.form-send{*/
    /*margin-top: 100px;*/
/*}*/

.form-actions > input[type="submit"]{
    margin-right: 20px;
}

#admin-search-layout{
    float: right;
    width: 25%;

}

#admin-search-button{
    width: 30px;
}

.vinculo-add{
    float: left;

}

#admin-recordcount{
    float: left;
}


.paginator-controls{
    float: right;
    width: 170px;
    margin-right: 90px;
}

#admin-page-list{
    display: inline;

}

.paginator-controls > select{
    width: 35%;
}

.disabled {
    pointer-events: none;
    color : #969696;
}

.widgets-group-two{
    position: relative;
    float: left;
    width: 50%;
}

.select-multiples-personas{
    width: 200px;
}

#ctrl-select{
    padding-left: 5px;
}


.widgets-group-one{
    position: relative;
    float: left;
    width: 50%;
}

.widgets-group-one select{
    width: 100px;
    display: inline;
    margin-right: 10px;
}

.widgets-group-one label{
    margin-right: 10px;
}

#lista-proced{
    width: 40%;
}

a:link {
    text-decoration: none;
    cursor: pointer;
}

#listado-reporte-acuerdo{
    font-size: 11.5px;
}

#select-proc{
    display: inline;
    margin-left: 5px;
    width: 20%;
}

.show-action{
    margin-bottom: 10px;
}

th{
    font-size: 12.5px;
}

#tabla-acuerdos-procedencia td {
    vertical-align: middle;
}

#tabla-acuerdos-procedencia th{
    text-align: center;
    vertical-align: middle;
}

#table-find input, #table-find select{
    width: 90%;
}

#table-find .col-sm-6{
    padding: 1px;
    width: 100%;
}

#table-find{
    margin-top: 5px;
    width: 100%;
}

#find-btn{
    height: 30px;
    width: 45px;
    margin-top: -8px;
}

#label-filtro{
    position:relative;
    float:left;
    margin-top: -8px;
    cursor: pointer;
}

/*seguridad*/
 #loginModal{
     position: relative;
     top: 10%;
 }

/*#loginModal input{*/
    /*width: 100%;*/
    /*font-size: 12px;*/
/*}*/

#alert-login{
    position: relative;
    font-size: 1em;
}

/*.panel-body > form > div{*/
    /*position: relative;*/
/*}*/
/*estilos del switch para activar el usuario*/
.switch {
    border: none;
    margin-bottom: 1.5rem;
    outline: 0;
    padding: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.switch label {
    background: #DDDDDD;
    color: transparent;
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
    position: relative;
    text-indent: 100%;
    width: 4rem;
    height: 2rem;
    transition: left 0.15s ease-out; }
.switch input {
    left: 10px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 9px; }
.switch input + label {
    margin-left: 0;
    margin-right: 0; }
.switch label:after {
    background: #FFFFFF;
    content: "";
    display: block;
    height: 1.5rem;
    left: .25rem;
    position: absolute;
    top: .25rem;
    width: 1.5rem;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: translate3d(0, 0, 0);
    transition: left 0.15s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
.switch input:checked + label {
    background: #008CBA; }
.switch input:checked + label:after {
    left: 2.25rem; }
.switch label {
    height: 2rem;
    width: 4rem; }
.switch label:after {
    height: 1.5rem;
    width: 1.5rem; }
.switch input:checked + label:after {
    left: 2.25rem; }
.switch label {
    color: transparent;
    background: #DDDDDD; }
.switch label:after {
    background: #FFFFFF; }
.switch input:checked + label {
    background: #008CBA; }
.switch.large label {
    height: 2.5rem;
    width: 5rem; }
.switch.large label:after {
    height: 2rem;
    width: 2rem; }
.switch.large input:checked + label:after {
    left: 2.75rem; }
.switch.small label {
    height: 1.75rem;
    width: 3.5rem; }
.switch.small label:after {
    height: 1.25rem;
    width: 1.25rem; }
.switch.small input:checked + label:after {
    left: 2rem; }
.switch.tiny label {
    height: 1.5rem;
    width: 3rem; }
.switch.tiny label:after {
    height: 1rem;
    width: 1rem; }
.switch.tiny input:checked + label:after {
    left: 1.75rem; }
.switch.radius label {
    border-radius: 4px; }
.switch.radius label:after {
    border-radius: 3px; }
.switch.round {
    border-radius: 1000px; }
.switch.round label {
    border-radius: 2rem; }
.switch.round label:after {
    border-radius: 2rem; }
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

#acuerdos_seguridadbundle_user_roles {
    width: 51px;
}


#acuerdos_seguridadbundle_user_roles > label{
    margin-left: 5px;
    margin-right: 15px;
    color: #000000;
}

.show-action a{
    margin-right: 10px;
    margin-bottom: 10px;
}

#error-change-pass{
    position: relative;
    top: 50px;
}

#modal-alert-changepass{
    cursor: pointer;
}

.modal-body > .changepass input{
    width: 100%;
}

#modal-cump-real{
    width: 280px;
}

#modal-change-pass{
    width: 280px;
}

/*.modal-footer {   border-top: 0px; }*/

#login-modal{
    width: 25%;
}

.grp-input-two-rows{
    position: relative;

}

.grp-input-row-one{
    width: 50%;
    border-right: 1px solid #ebebeb;
}

.grp-input-row-two{
    width: 50%;
    position: absolute;
    top: 0px;
    left: 52%;
}

#content-report{
    float: left;
    margin-left: 30px;
    margin-top: 75px;
    min-width: 40%;
    width: 95%;
    height: 100%;
}

#glyph-user{
    margin-left: 10px;
}

#acuerdos_gestionbundle_acuerdo_idProcedencia{
    width: 30%;
}

.widgets-personas table tr:first-child{
    font-size: 12px;
}

#multiple-actions a{
    margin: 10px;
}

#multiple-actions a span:nth-child(2){
    font-size: 11px;
}

#link-user{
    color: #d2cfd2;
}

#link-user:hover{
    color: #ffffff;
}

#select-pers{
    width: 20%;
    display: inline;
}

#select-rol{
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}

#table-ac-pers th{
    text-align: center;
}

input[type="radio"]{
    display: inline;
    height: 0;
    width: 0;
    margin: 0 10px 0 15px;
    /*padding: 12px;*/
}

#globo{
    width: 150px;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #555;
    background-color: #EEE;
    position: relative;
}

/*estilos para el mensage*/
.msg {
    padding: 0 5px;
    border-radius: 3px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.msg a{
    color: #0e0e0e;
}

#send-temas{
    position: relative;
    top: 170px;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

#send-temas a {
    padding: 10px;
    margin: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

div.radio{
    display: inline;
}

#add-button,.count{
    margin: 20px 0px;
}

.table {
    margin-top: 20px;
}

.acta-encabezado{
    width: auto;
    height: 150PX;
    border: 1px solid black;
    margin-bottom: 20px;
    /*border-bottom: 1px solid #eee;*/
}

.header-logo {
    padding: 0px;
    width: 15%;
    height: 100%;
    float: left;
    /*border-right: 1px solid #eee;*/
    border: 1px solid black;
}

.encabezado {
    padding: 0px;
    width: 85%;
    height: 100%;
    float: left;
    border: 1px solid black;
    /*margin: 0px 100px;*/
}

.header-first{
    height: 65%;
    border: 1px solid black;
}

.header-second{
    height: 35%;
    border: 1px solid black;
}

/*Estilos para el formulario de busqueda*/
.form-control-feedback {
    top: 0px;
}


#input-submit{
    float: left;
}


.login-form{
    margin-top: 10%;
    /*position: absolute;*/
    /*margin-left: 40%;*/
    /*margin-right: 40%;*/
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    /*text-align: center;*/
    width: 80%;
}

input[type='password']:focus:invalid{
    border-color: #e91815;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(233, 24, 21, 0.60);
    outline: 0 none;
}

/*Estilos de la imagen q carga el formd cambiar contraseña*/
.profile-img
{
    width: 90px;
    height: 90px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.btn,.panel,.panel-heading,input[type='text'],input[type='password'],.input-group-addon{
    /*border-radius: 0;*/
}

/*Estilos para los roles del usuario*/
#acuerdos_gestionbundle_persona_roles {
    width: 51px;
}

#acuerdos_gestionbundle_persona_roles > label{
    margin-left: 5px;
    margin-right: 15px;
    color: #000000;
}