<h2 class="page-header">Acuerdos Tomados</h2>
<table class="table">
    <thead>
    <tr>
        <th>Id Acuerdo</th>
        <th>Descripccion</th>
        <th>Fecha de Creacion</th>
        <th>Fecha de Cumplimiento Indicada</th>
        <th></th>
        <th>Acciones</th>
    </tr>
    </thead>
</table>